<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
  <app-input
    label="Username"
    inputType="text"
    [control]="convertToFormControl(authForm.get('username'))"
  ></app-input>

  <app-input
    label="Password"
    inputType="password"
    [control]="convertToFormControl(authForm.get('password'))"
  ></app-input>

  <app-input
    label="Confirm Password"
    inputType="password"
    [control]="convertToFormControl(authForm.get('passwordConfirmation'))"
  ></app-input>

  <div
    class="ui red basic label"
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
  >
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">
      Password and Confirm Password must match
    </p>
  </div>

  <div>
    <button class="ui submit button secondary">Submit</button>
  </div>
</form>
