.basic.label {
    margin-bottom: 0.5em;
  }
  
  button {
    margin-bottom: 0.5em;
  }
  
  .formCard {
    padding: 1%;
    width: 450px;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-switch {
    padding: 3%
  }
  
  .button-wrapper {
    display: flex;
    justify-content: flex-end !important;
    padding: 2%;
  }
  